* {
    box-sizing: border-box;
  }

body {
    font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;
    color: #777777;
    background: url("../images/concrete_seamless.png");
  }

/* Styling for the heading bar */

.masthead {
  border-bottom-style: solid;
  border-width: 2px;
  border-color: #cccccc;
}

#logo {

    font-size: 30px;
    font-weight: 700;
    line-height: 90px;
    color: #ffffff;
    text-align: center;
    background: #4aaaa5;
    
  }

h1 {
    font-family: Georgia, Times, "Times New Roman", serif;
    padding:20px;
    font-size: 30px;
    font-weight: 800;
}

#navsection {
    background: #ffffff;
    float: right;
}

a {
  color: #777777;
}


#main-container {
    background-color: #ffffff;
}

#mypicture {
  float: left;
}

.auth-image {
    float: left;
    /* width: 200px; */
    height: auto;
    padding-left: 20px;
    padding-right: 20px;
}

p {
  padding-left: 10px;
}

.sectionheadingtext {
  color: #4aaaa5;
  border-bottom-style: solid;
  border-bottom-color: #dddddd;
}

/* Portfolio Styling */

.work {
  position: relative;
  margin-bottom: 30px;
}

.figcaption {
  position: absolute;
  top: 75%;
  /* left: 0; */
  width: 100%;
  font-family: Georgia, Times, "Times New Roman", serif;
  background-color: #4aaaa5;
  color: #cccccc;
  padding-top: 10px;
  padding-bottom: 10px;
}

#name, #email, #message{
  width: 95%;
}

label{
  padding-top: 10px;
}

ul {
  list-style-type: none;
}

#submitbutton {
  background-color: #4aaaa5;
  color: #ffffff;

  padding-right: 20px;
  padding-left: 20px;
  font-size: 16px;
  text-decoration: none;
  border: none;
}

/* Sticky footer styling */
html {
  position: relative;
  min-height: 100%;
}
body {
  margin-bottom: 40px; /* Margin bottom by footer height */
}

.footer {
  width:100%;
  position: absolute;
  bottom: 0;
  height: 40px; /* Set the fixed height of the footer here */
  background-color: #666666;
  border-top: 8px solid #4aaaa5;
  text-align: center;
  color: #cccccc;
}


@media only screen and (max-width: 600px) {
  #mypicture {
    width: 100%;
    
  }
}

/*
@media only screen and (min-width: 992px) {
  #main-container {
    width: 80%;
    margin-left: 20px;

  }
}*/